.grid2 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cadastroThings {
    padding: 50px;
}
.rightDiv-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F3FF;
}

#rightImg {
    width: 30vw;
    height: auto;
    background-color: white;
}