.mainHeader {
    z-index: 266;
    box-shadow: 0px 5px 5px #dbdbdb;
}

.header-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#anunciarBt {
    background-color: #6e0ad6;
    color: white;
    width: 100px;
    height: 50px;
}

#entrarBt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 50px;
}