.formInput {
    display: flex;
    flex-direction: column;
}

.formInput > label {
    font-family: 'Poppins';
    font-weight: 700;
}

.formInput > input{
    font-family: 'Poppins';
    font-weight: 700;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 30vw;
    height: 28px;
    font-size: 18px;
}