.formInput {
    display: flex;
    flex-direction: column;
}

.formInput > label {
    font-family: 'Poppins';
    font-weight: 700; 
}

.formInput > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
    width: 30vw;
    height: 28px;
}

.formInput > div > input{
    all: unset;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}