.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 1360px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.results {
  padding: 20px;
}